.Countdown{
    
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 100px;
    display: flex;
    justify-content: center;

    
    
  }
  
  .Countdown-col{
    display: inline-block;
  }
  
  .Countdown-col-element{
    display: inline-block;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
  }
  
  .Countdown-col-element strong{
      font-size: 30px;
     background: -webkit-linear-gradient( #df3800, #fa5002);
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  span{
      
      color: white;
      font-weight: bold;
  }

  .wrapper4{
      
      background-color: #fbac4e;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23585858' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
     
    
  }

  
 