.navspace{

   padding-right: 125px ;
  
}

.navb{

  background-color: #22110D;
  
}

.pr-5.nav-link{

  color:#FBAC4E !important; 
  font-weight: 700;


}

.pr-5.nav-link :hover{

  color: #fa5002 ;

}

#toggle1{
  background-color:#FBAC4E!important;
  
  
} 
  
.navbar-collapse{
  display: flex;
  justify-content: center;

}

.navb.navbar.navbar-expand-lg.navbar-light{

  padding-left: 80px;
}

@media only screen and (max-width: 990px) {
  #toggle1 {
    margin-right: 10px !important;
  }
}